/* global */
.fs-8 {
    font-size: x-small;
}

/* navbar */
.nav-link {
    color: white;
    width: max-content;
    margin: 0 20px;
}

.navbar-nav .nav-link.active,
.nav-link:hover {
    color: #4E9BD9;
    border: #4E9BD9 2px solid;
    border-radius: 30px;
    padding: 5px 25px;
}

.navbar-nav .nav-link {
    transition: all 0.1s;
}

.top-5 {
    top: 5%;
}

.bottom-5 {
    bottom: 5%;
}

.end-05 {
    right: 0.5%;
}

.c40 {
    width: 40px;
    height: 40px;
}

.soc a.dsfg {
    background-color: black;
    color: #4E9BD9;
}

.soc a.dsfg:hover {
    color: white;
    background-color: #4E9BD9;
}

.soc a.dsfg {
    transition: all 0.3s;
}

.search {
    background-image: url(banner.png);
    background-size: cover;
    padding: 70px 0;
    min-height: 350px;
}

.searchchild {
    position: relative;
    margin-bottom: 70px;
}

.display {
    width: 100%;
    background: #323544;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
    margin-top: -150px;
    margin-bottom: 50px;
}
.card{
    height: 100%;
    border: 0px transparent solid;
}
.display .day {
    width: 33.33%;
}
.display .day:nth-child(even) .card-body {
    background-color: #262936 !important;
}
.display .day:nth-child(even) .card-header {
    background-color: #222530 !important;
}
.display .day:nth-child(odd) .card-body {
    background-color: #323544 !important;
}
.display .day:nth-child(odd) .card-header {
    background-color: #2D303D !important;
}

@media screen and (max-width: 990px) {
    .display .day {
        display: block;
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 990px) {
    .display .day {
        display: block;
        width: 100%;
        float: left;
    }
}

@media screen and (max-width: 990px) {
    .display .day.today {
        display: block;
        width: 100%;
    }
}